body {
  margin-top: 70px;
}

#all-project {
  display: block;
  justify-self: center;
}
.lines {
  margin-top: 50px;
  margin-left: 50px;
  height: 3px;
  width: 90%;
  background-color: white;
}
.project-title {
  margin-top: 50px;
  margin-left: 50px;
  max-width: 900px;
  text-align: left;
  font-size: 40px;
  font-weight: normal;
}
.project-discription {
  max-width: 1000px;
  text-align: left;
  line-height: 1.3;
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 50px;
}
.project-container {
  display: flex;
  justify-self: center;
  margin: 30px;
  width: 800px;
  height: fit-content;
  overflow: hidden;
  border-radius: 20px;
}

.p1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: filter 0s ease, transform 0.5s ease-out;
}

.numberonne {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.web-tab {
  justify-self: center;
  width: 800px;
  height: 200px;
  margin-top: 30px;
  border-radius: 30px;
  background-color: #1b1b1b;
}
.web-thumbnail {
  align-self: center;
  align-content: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.web-thumbnail img {
  width: 90%;
  height: 90%;
  border-radius: 22px;
  object-fit: cover;
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
}
.web-title {
  margin-top: -180px;
  margin-left: 220px;
  font-weight: normal;
  font-size: 30px;
  color: rgb(172, 172, 172);
}
.web-paragraph {
  font-size: 12px;
  max-width: 450px;
  color: rgb(167, 167, 167);
  margin-left: 220px;
  margin-top: 22px;
}
.button {
  height: 55px;
  width: 155px;
  border-radius: 15px;
  color: #fff;
  background-color: #1b1b1b;
  transition: 300ms;
}
.button:hover {
  border-radius: 30px;
}
.footer-bottom {
  margin-bottom: 40px !important;
}
@media (max-width: 600px) {
  #all-project {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #000000;
    font-family: "DM Sans", sans-serif;
    color: rgb(238, 238, 238);
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .lines {
    margin-top: 15px;
    margin-left: 15px;
    height: 1.5px;
    width: 90%;
    background-color: white;
  }
  .project-title {
    margin-top: 15px;
    margin-left: 15px;
    text-align: left;
    font-size: 24px;
    font-weight: norma;
    line-height: 40px;
  }
  .project-discription {
    max-width: 90%;
    text-align: justify;
    line-height: 1.3;
    font-size: 12px;
    font-weight: normal;
    margin-top: 15px;
    margin-left: 15px;
  }
  .project-container {
    border-radius: 10px;
    margin: 8px;
    width: 95%;
    overflow: hidden;
    position: relative;
  }

  .portfolio-item {
    height: 100%; /* Ensure items fill their grid cell */
    aspect-ratio: 1 / 1; /* Keep the items square */
    overflow: hidden;
    border: 1px solid #dddddd00;
  }

  .p1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: filter 0s ease, transform 0.5s ease-out;
  }

  .numberonne {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .web-tab {
    justify-self: center;
    width: 95%;
    height: 235px;
    margin-top: 10px;
    border-radius: 11px;
    background-color: #1b1b1b;
  }
  .web-thumbnail {
    align-self: center;
    align-content: center;
    width: 200px;
    height: 235px;
    overflow: hidden;
  }
  .web-thumbnail img {
    width: 90%;
    height: 90%;
    border-radius: 12px;
    object-fit: cover;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
  }
  .web-title {
    margin-top: -220px;
    margin-left: 210px;
    font-weight: normal;
    font-size: 25px;
    color: rgb(172, 172, 172);
  }
  .web-paragraph {
    font-size: 12px;
    max-width: 450px;
    color: rgb(167, 167, 167);
    margin-left: 210px;
    margin-top: 15px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  #all-project {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #000000;
    font-family: "DM Sans", sans-serif;
    color: rgb(238, 238, 238);
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .lines {
    margin-top: 15px;
    margin-left: 15px;
    height: 1px;
    width: 95%;
    background-color: white;
  }
  .project-title {
    margin-top: 15px;
    margin-left: 15px;
    text-align: left;
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
  }
  .project-discription {
    max-width: 90%;
    text-align: justify;
    line-height: 1.3;
    font-size: 12px;
    font-weight: normal;
    margin-top: 15px;
    margin-left: 15px;
  }
  .project-container {
    border-radius: 10px;
    margin: 18px;
    width: 95%;
    overflow: hidden;
    position: relative;
  }

  .portfolio-item {
    height: 100%; /* Ensure items fill their grid cell */
    aspect-ratio: 1 / 1; /* Keep the items square */
    overflow: hidden;
    border: 1px solid #dddddd00;
  }

  .p1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: filter 0s ease, transform 0.5s ease-out;
  }

  .numberonne {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .web-tab {
    justify-self: center;
    width: 95%;
    height: 235px;
    margin-top: 10px;
    border-radius: 11px;
    background-color: #1b1b1b;
  }
  .web-thumbnail {
    align-self: center;
    align-content: center;
    width: 200px;
    height: 235px;
    overflow: hidden;
  }
  .web-thumbnail img {
    width: 90%;
    height: 90%;
    border-radius: 12px;
    object-fit: cover;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
  }
  .web-title {
    margin-top: -220px;
    margin-left: 210px;
    font-weight: normal;
    font-size: 25px;
    color: rgb(172, 172, 172);
  }
  .web-paragraph {
    font-size: 12px;
    max-width: 450px;
    color: rgb(167, 167, 167);
    margin-left: 210px;
    margin-top: 15px;
  }
}
